*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	color: black;
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

h1{
	font-family: 'Roboto Mono', monospace;
}

p{
}
.coming{
	margin-top: 2%;
	margin-bottom: 3%;
	font-size: 42px;
	color: #B03A2E;
	font-weight: bolder;
}
.p-will{
	margin-bottom: 5%;
	font-size: 24px;
	color: #5F6A6A;
	font-weight: bold;
}
#main-container{
	min-width: 500px;
	height: 60px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 8%;
}
.header-number{
	font-size: 42px;
	color: #F1C40F;
}
.p-number{
	font-size: 24px;
	color: #5DADE2; 
	font-weight: bolder;
}
.container-items__days,
.container-items__hours,
.container-items__minutes{
	border-right: 5px solid #5F6A6A;
}
#container-items{	
	padding: 5px;
	text-align: center;
}
.container-notice{
	margin-bottom: 10%;
	height: 10vh;

}
.container-notice p{
	color: #52BE80;
	font-size: 36px;
	font-weight: bolder;
	margin-bottom: 5vh;
	text-align: center;
}
.container-form{
	display: flex;
	height: 40px;
	text-align: center;
}
.container-form input{
	min-width: 300px;
	text-indent: 8px;
}
.container-form input::placeholder{
	color: #626567;
}
.container-form button{
	min-width: 90px;
	font-size: 18px;
	color: white;
	outline: none;
	cursor: pointer;
	background-color: #FA8072;	
	border: none;
}